* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    min-height: 100vh;

}

.instagram-devices {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-devices img {
    height: 30rem;
    margin-right: 200px; 
}

.instagram-loginbox {
    display: flex;
    align-items: center; /* passou a ficar na horizontal apos o comando flex-direction*/
    justify-content: space-around; /* e esse ficou na vertical */
    flex-direction: column;
    width: 50%;
    min-width: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; /* Muda o eixo dos itens, mudando da vertical para horizontal*/
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 2px solid lightgray;
}

.group:nth-child(1) {
    min-width: 19rem;
}

.group:nth-child(2) {
    margin-top: 30px;
}

.Instagram-logo {
    height: 5rem;
    margin-bottom: 14px;
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img {
    min-height: 8rem;
}

.Instagram-login {
    background-color: rgb(0, 166, 243);
    color: whitesmoke;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    margin-top: 20px;
}

.Instagram-logout {
    color:rgb(0, 166, 243);
    margin-top: 15px;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: rgb(0, 166, 243);
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.App {
    margin-top: 50px;
}


/* Responsividade */

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .group {
        border: 0px;
    }

    .instagram-wrapper {
        width: 96%;
    }

    .instagram-devices {
        display: none;
    }

    .instagram-loginbox {
        width: 100%;
    }
}

